@model ChangePhoneNumberModel

<h2>Change Phone Number</h2>

@using (Html.BeginForm("ChangePhoneNumber", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        New Phone Number:
        @Html.TextBox("NewPhoneNumber", null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change Phone Number" class="btn btn-default" />
        </div>
    </div>

}