@model Team1FinalProject.Models.CreditCard

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>CreditCard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CreditCardID" />
            <div class="form-group">
                <label asp-for="CreditCardNumber" class="control-label"></label>
                <input asp-for="CreditCardNumber" class="form-control" />
                <span asp-validation-for="CreditCardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="radio">@Html.RadioButton("CardType", "Visa")Visa</label>
                <label class="radio">@Html.RadioButton("CardType", "American Express")American Express</label>
                <label class="radio">@Html.RadioButton("CardType", "Discover")Discover</label>
                <label class="radio">@Html.RadioButton("CardType", "MasterCard")MasterCard </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

