@model IEnumerable<Team1FinalProject.Models.Order>

@{
    ViewData["Title"] = "SelectOrderToAdd";
}

<h2>Select Order</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                <td>
                    <a asp-action="AddToExistingOrder" asp-route-id="@item.OrderID">Select</a> 
                </td>
            </tr>
        }
    </tbody>
</table>