
@{
    ViewData["Title"] = "CompleteOrder";
}

<h2>You're done!</h2>

Checkout these titles as well: @ViewBag.Recommendations

<a asp-action="Index" asp-controller="Books" class="btn btn-outline-primary">Library</a>

